@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



.IconsSwitch {
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
  margin: 1%;
  
}

.icon {
  cursor: pointer;
}

.CardsView {
  width: 90%;
  margin: auto;
}

.ListView {
  width: 90%;
  margin: auto;
}


.ShopItemImg {
  width: 100px;
}